
.btn-next{
    background: rgb(17,154,142);
    background: linear-gradient(31deg, rgba(17,154,142,1) 0%, rgba(55,237,126,1) 100%);
    color: #fff;
    border: none;
}

.card-index{
    width: 90%;
}