.card-options{
    width: 150px;
    height: 150px;
    padding: 1rem;
    border: solid 2px rgb(17,154,142);
    border-radius: 10px;
    text-decoration: none;
    color: rgb(17,154,142);
    display: flex;
    align-items: center;
    justify-content: center;
}